<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<!--link rel="stylesheet" href="{-% static "css/bootstrap-theme.css" %}"-->
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}
<!--link rel="stylesheet" href="{-% static "css/cover.css" %}"-->
<!--link rel="stylesheet" href="{-% static "css/bootstrap-cyborg.min.css" %}"-->
<link href="{% static "css/custom.css" %}" rel="stylesheet" type="text/css" />
<style type="text/css">
	@font-face
	{
	font-family: YanoneKaff;
	src: url({% static "fonts/YanoneKaffeesatz-Regular.otf" %});
	}
</style>
<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
{% endblock %}
{% endcompress %}

{% compress js %}
<!--script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}

<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!--script src="{% static "js/blueimp-gallery.js" %}"></script-->
<!--script src="{% static "js/bootstrap-image-gallery.js" %}"></script-->


<script type="text/javascript">

var borderless = true;
$('#blueimp-gallery').data('useBootstrapModal', !borderless);
$('#blueimp-gallery').modal(true);
$('#blueimp-gallery').toggleClass('blueimp-gallery-controls', borderless);



// Load demo images from flickr:
    $.ajax({
        url: (window.location.protocol === 'https:' ?
                'https://secure' : 'http://api') +
                '.flickr.com/services/rest/',
        data: {
            format: 'json',
            method: 'flickr.people.getPhotos',
            api_key: '2d5dd4e577185b4923ecd114bed9ec3b',
            user_id: 'fotografiaartificial'
        },
        dataType: 'jsonp',
        jsonp: 'jsoncallback'
    }).done(function (result) {
        var linksContainer = $('#links'),
            baseUrl;
        // Add the demo images as links with thumbnails to the page:
        $.each(result.photos.photo, function (index, photo) {
            baseUrl = 'http://farm' + photo.farm + '.static.flickr.com/' +
                photo.server + '/' + photo.id + '_' + photo.secret;
            $('<a/>')
                .append($('<img>').prop('src', baseUrl + '_s.jpg'))
                .prop('href', baseUrl + '_b.jpg')
                .prop('title', photo.title)
                .attr('data-gallery', '')
                .appendTo(linksContainer);
        });
    });
</script>


{% endblock %}
{% include "includes/footer_scripts.html" %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{% trans "Toggle Navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
    {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
</div>
<div class="navbar-collapse collapse">
    <!-- {-% search_form "all" %} -->
    {% page_menu "pages/menus/dropdown.html" %}
</div>
</div>
</div>

<!--
<div class="cover-container">
   <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">{{ settings.SITE_TITLE }}</h3>
            {-% page_menu "pages/menus/dropdown.html" %}
        </div>
    </div>
</div>
-->


<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}


</div>

<div class="container">

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <!--h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p-->
        <div id="links">
			{% with page.gallery.images.all as images %}
			{% for image in images %}
			<a title="{{ image.description }}" href="{{ image.file.url }}" data-gallery>
				<img src="{{ MEDIA_URL }}{% thumbnail image.file 131 75 %}" alt="{{image.description}}">
			</a>
			{% endfor %}
			{% endwith %}
		</div>
      </div>
      
    </div>

    <div class="container principal">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
			<!--<img src="/static/media/uploads/01.jpg" alt="Quienes somos" href="{% static " width="136" height="266" />-->
			<h2>Quienes somos</h2>
			<p>Fotografia artificial se compone de Mabel Alejandra Soto. Fot&oacute;grafa de raza quien marcar&aacute; una visi&oacute;n particular y especial.</p>
			<p><a href="#" class="btn btn-default">Acerca de &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<!--<img src="/static/media/uploads/04.jpg" alt="Quienes somos" href="{% static " width="136" height="266" />-->
			<h2>Servicios</h2>
			<p>Disponemos de variedad de servicios. Contacte con nosotros o dirijase al listado de nuestros servicios.</p>
			<p><a href="#" class="btn btn-default">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<!--<img src="/static/media/uploads/03.jpg" height="266" width="136" />-->
			<h2>Contacta</h2>
			<p>Contacta con nosotros sin ning&uacute;n compromisos. Estaremos encantados de atenderte</p>
			<p><a href="#" class="btn btn-default">Contacto &raquo;</a></p>
		</div>

      </div>   
    
 
</div>

<footer>
<div class="container">
{% page_menu "pages/menus/footer.html" %}

<div class="row">
	<p class="text-center">
	<span class="site-info text-center">
		FotografiaArtificial.com &copy; 
	</span>
	<span>	
		{% trans "Todos los derechos reservados" %}
	</span>
	</p>
</div>

</div>
</footer>

</body>
</html>
